
<div class="header-admin">
    <div class="header-admin-1">
        <div class="title-admin">
            <h3>Admin Page Shop Clothes</h3>
        </div>
        <div class="account">
            <img src="iconshop.png" alt="" width="50px" height="50px">
        </div>  
    </div>
</div>
<div class="content-admin">
    <div class="content-admin-1">
        <div class="content-admin-left">
            <ul class="menu-admin">
                <li><%= link_to "Home",admins_path  %></li>
                <li><%= link_to "User", users_admin_path  %></li>
                <li><%= link_to "Product", products_admin_path  %></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
        <div class="content-admin-right">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                      <th scope="col">Address</th>
                      <th scope="col">Email_Address</th>
                      <th scope="col">Numberphone</th>
                      <th scope="col">Avatar</th>
                      <!-- <th colspan="2"></th> -->
                    </tr>
                </thead>
                <tbody class="trElment">

                 <!--  <tr >
                      <td><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                      <td><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                  </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.ajax({
        url: Routes.v1_users_path(),
        type: 'GET',
        dataType: 'json',
        success: function(data){
            $(data).each(function(index,el){
              var x = 0,name,address,email_address,numberphone;
              for (var i in el['data']){
                x++;
                name = el['data'][i].name;
                address = el['data'][i].address;
                email_address = el['data'][i].email;
                numberphone = el['data'][i].numberphone;
                image = el['data'][i].image;
    
                var tdNameElement = $('<td></td>');
                tdNameElement.html(name);

                var tdAddressElement = $('<td></td>');
                tdAddressElement.html(address);

                var tdEmailElement = $('<td></td>');
                tdEmailElement.html(email_address);

                var tdNumberElement = $('<td></td>');
                tdNumberElement.html(numberphone);

                var tdxElement = $('<td></td>');
                tdxElement.html(x);

                var tdImageElement = $('<td></td>');
                var imagex = $('<img style="width:50px;">')
                imagex.attr({
                  'src':image
                })
                tdImageElement.append(imagex);
                var trElment = $('<tr></tr>');
                trElment.append(tdxElement);
                trElment.append(tdNameElement);
                trElment.append(tdAddressElement);
                trElment.append(tdEmailElement);
                trElment.append(tdNumberElement);
                trElment.append(tdImageElement);


                var tx = $('.trElment');
                tx.append(trElment);
                console.log(el)
              }
              

            });
        }
    }); 
</script>